<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>


        <p class="view home-info"><i class="fi fi-rs-marker"></i>35000, Rennes, France</p>
        <p class="view home-info"><i class="fi fi-rr-calendar"></i>03/02/1991</p>
        <p class="view home-info"><i class="fi fi-sr-flag"></i> Moroccan</p>
        <p class="view home-info"><i class="fi fi-rr-phone-flip"></i><a href="tel:(+33) 774658173">(+33) 774658173</a></p>
        <p class="view home-info"><i class="fi fi-rr-envelope"></i><a href="mailto:sabiraelkhalfaoui@gmail.com">sabiraelkhalfaoui@gmail.com</a></p>
        <p class="view home-info"><i class="fi fi-rr-envelope"></i><a href="mailto:sabira.elkhalfaoui@univ-rennes.fr">sabira.elkhalfaoui@univ-rennes.fr</a></p>
        <p class="view home-info"><i class="fi fi-rr-share"></i> <a href="https://www.researchgate.net/profile/Sabira-El-Khalfaoui">https://www.researchgate.net/profile/Sabira-El-Khalfaoui</a></p>
        <p class="view home-info"><i class="fi fi-rr-share"></i> <a href="https://www.linkedin.com/in/sabira-el-khalfaoui-ph-d-69981a143/">https://www.linkedin.com/in/sabira-el-khalfaoui-ph-d-69981a143/</a></p>
        <p class="view home-info"><i class="fi fi-rr-share"></i> <a href="https://orcid.org/0000-0002-1792-2947">https://orcid.org/0000-0002-1792-2947</a></p>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
